.main1 {
  width: 50rem;
  margin: 2rem auto;
  max-width: 90%;
}

.main1 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main1 li {
  padding: 1rem;
  border: 2px solid black;
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  display: block;
  height: 150px;
  width: 200px;
}

strong {
  display: block;
}

.filter {
  margin: 5px;
}
